language: php

matrix:
    include:
        - php: 7.2
        - php: 7.2
          env: deps=lowest
        - php: 7.3

install:
    - if [ -z "$deps" ]; then composer install; fi;
    - if [ "$deps" = "lowest" ]; then composer update --prefer-lowest -n; fi;

script: vendor/bin/phpunit
