<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="hostnet/entity-installer test suite">
            <directory>./test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <blacklist>
            <directory>./test</directory>
            <directory>./vendor</directory>
        </blacklist>
    </filter>
</phpunit>
